/* CSS Setup and Reset from https://www.joshwcomeau.com/css/custom-css-reset/*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*Mobile 375px*/

/*Upper Half*/
.upper-half {
  width: 100vw;
}
.desktop {
  display: none;
}

.upper-half img {
  width: 100%;
}

/*Lower Half*/
.lower-half {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
  margin: 20px;
}

.row-1 {
  color: black;
  font-weight: 600;
  font-size: 2.5em;
}

.row-2 {
  padding-right: 10px;
}

.row-3 {
  flex-direction: column;
}

.row-3 img {
  display: inline;
  align-self: flex-start;
  margin-right: 12px;
}
.row-3 div {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding-right: 10px;
}

.row-4 {
  flex-direction: column;
  margin-top: 0px;
}

.row-4 p {
  color: black;
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 8px;
}

.row-4 input {
  height: 50px;
  padding-left: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border-color: #c8c8c8;
}

.error {
  background-color: #ffe8e6;
}

.sucess {
  background-color: #bdffcb;
}

.row-4 button {
  height: 50px;
  font-weight: 600;
  color: white;
  font-size: 0.9em;
  border-radius: 8px;
  background-color: #242541;
}

.row-4 button:hover {
  background: linear-gradient(to right, #fe5278 0%, #ff683e 100%);
}

@media screen and (min-width: 550px) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }

  .grid {
    display: grid;
    position: relative;
    top: 75px;
    grid-template-columns: 350px 350px;
    background-color: white;
    border-radius: 25px;
    padding: 0 20px 0 10px;
  }

  .upper-half {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 2/3;
  }

  .upper-half img {
    height: 100%;
  }

  .lower-half {
    grid-row: 1;
    grid-column: 1/2;
  }

  body {
    display: flex;
    justify-content: center;
    background-color: #242541;
  }
}
